{% extends "react-base.html" %}
{% block title %}Play!{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for("static", filename=stylename) }}" />
    <header>
        <h1>Iznik</h1>
        <span class="author">Gabriel Konar-Steenberg</span>
        <h2>An unofficial, third-party adaptation of the board game <i>Azul</i></h2>
    </header>
    <section id="main">
        Here's the game:
        <div id="game">NO REACT</div>
        Have fun!
    </section>
    <footer>
        <p class="left">
            &copy; 2020 Gabriel Konar-Steenberg<br />
            Supported by the Pomona College RAISE program<br />
            This RAISE project funded by the Fletcher Jones Foundation
        </p>
        <p class="right">
            Made with React and Flask<br />
            Public domain images from Wikimedia<br />
            All trademarks are the property of their respective owners;<br />use of these does not imply their endorsement.
        </p>
    </footer>
{% endblock %}